.landing {
  width:100vw;
  height:100vh;
    background-image:url("images/hero-home-2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-position: 10%  0;
}
#navv{
width:100%;
height:40px;
background: rgba(255,255,255,0);
}
#ul_title{
  margin:0px;
}
#title{
  display:block;
  float: right;
    list-style: none;
    margin-right: 30px;
    margin-top: 20px;
}
#nav-title{
font-family: 'Montserrat', sans-serif;
color:#dbdbdb;
    font-size: 19px;
    font-weight: 200;
    letter-spacing: 4.25px;
    text-decoration: none;
}
#nav-title:hover{
  color:#bdbdbd;
}

.land_container{
     top: 50%;
  transform: translateY(-70%);
  position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
  }
#hero_p{
    font-family: 'Montserrat', sans-serif;
            color: #bdbdbd;
    margin-right: 5%;
    margin-top: -2%;

    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    font-size: 20px;
    font-weight: 200;
    letter-spacing: .25px;
    line-height: 29px;
}
#search_form{
    margin-top: 5%;
}
#form1{
    margin-right: 5px;
    height:40px;
    width: 275px;
    font-size: 17px;
color:black;

}
#form2{
     margin-right: 5px;
    height:40px;
    width: 375px;
}
#btn-blue{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 1px 2px rgba(0,0,0,.3);
    font-size: 20px;
    font-weight: 200;
    letter-spacing: .25px;
    height:2em;
    margin-top: -1%;
    background: #03A9F4;
    color: #fff;
    text-shadow: 0 -1px 0 #03A9F4;
}
#btn-blue:hover{
    background: #036486;
}
.hero-arrow{
position: absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
    height: 25px;
    width: 50px;
    background: url("images/down-arrow.svg") no-repeat;
}
